body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #3a3434;
}

.game-container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease-in-out;
}

.cell:hover {
    background-color: #ddd;
}

#currentPlayer {
    color: #fff; /* Changes Text Color above the Game */
}

#score-container {
    text-align: center;
    margin-top: 20px; /* Adjust the spacing as needed */
}

#scoreX, #scoreO {
    display: inline-block;
    margin: 0 10px;
    font-size: 18px; /* Adjust the font size as needed */
    color: #fff;
}

.tile-clicked {
    animation: tileClickAnimation 0.3s ease-in-out;
}

@keyframes tileClickAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
